In [30]:
import requests
import pandas as pd
import statistics as st

url = "https://raw.githubusercontent.com/Apress/data-analysis-and-visualization-using-python/master/Ch07/Salaries.csv"
response = requests.get(url)

with open("Salaries.csv", "wb") as f:
    f.write(response.content)

df = pd.read_csv("Salaries.csv")
df

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [51]:
#Separates into different data frames:
profdf = pd.DataFrame()
acpdf = pd.DataFrame()
atpdf = pd.DataFrame()

for index, row in df.iterrows():
    if row['rank'] == 'Prof':
        profdf = pd.concat([profdf, pd.DataFrame(row).T], ignore_index=True)
    elif row['rank'] == 'AssocProf':
        acpdf = pd.concat([acpdf, pd.DataFrame(row).T], ignore_index=True)
    else:
        atpdf = pd.concat([atpdf, pd.DataFrame(row).T], ignore_index=True)

#Checks for missing values
pmiss = 0
cmiss = 0
tmiss = 0

for index,  row in profdf.iterrows():
    if profdf['rank'].isna().any() == True | profdf['discipline'].isna().any() == True | profdf['phd'].isna().any() == True | profdf['service'].isna().any() == True | profdf['sex'].isna().any() == True | profdf['salaray'].isna().any() == True:
        pmiss += 1
    else:
        pass
        
for index,  row in acpdf.iterrows():
    if acpdf['rank'].isna().any() == True | acpdf['discipline'].isna().any() == True | acpdf['phd'].isna().any() == True | acpdf['service'].isna().any() == True | acpdf['sex'].isna().any() == True | acpdf['salaray'].isna().any() == True:
        cmiss += 1
    else:
        pass

for index,  row in atpdf.iterrows():
    if atpdf['rank'].isna().any() == True | atpdf['discipline'].isna().any() == True | apdft['phd'].isna().any() == True | atpdf['service'].isna().any() == True | atpdf['sex'].isna().any() == True | atpdf['salaray'].isna().any() == True:
        cmiss += 1
    else:
        pass

#Computes for median
profmed = st.median(profdf['salary'])
acpmed = st.median(acpdf['salary'])
atpmed = st.median(atpdf['salary'])

#Computes for mean

123321.5 103613 78500